h1 {
display: flex;
justify-content: center;
font-weight: bolder;
font-size: 45px;
padding: 15px 0;
}
body {
    font-family: 'Ubuntu';
    color: black;
    background-color: rgb(202, 202, 177);
}
#title {
    background-color: rgb(89, 127, 160);
    margin-bottom: 0px;
}
#nav {
    display: flex;
    justify-content: center;
    background-color: rgb(89, 127, 160);
    font-size: 150%;
}
p {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    font-size: 125%;

}
#back {
    display: flex;
    justify-content: flex-end;
}
a {
    color: black;
}
.platz {
    text-align: center;
    margin-top: 40px;
}
#mm {
    margin-top: 150px;
}
#dreh {
    color: green;
    font-size: 185%;
}
ul {
    margin-top: 65px;
    font-size: 145%;
    list-style: none;
}
#vg {
    display: flex;
    justify-content: center;
}
#gold {
    background-color: #351C15;
    font-weight: bolder;
    font-size: 150%;
    color: #FFB500;
}
.center {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
#marketing {
    width: 60%;
    height: auto;
}
