h1, h2 {
    text-align: center;
}
#border {
    border-bottom: 8px;
    border-style: solid;
    border-color: rgb(80, 119, 80);
        }
.container {
    width: 1200px;
    height: 45%;
    color: rgb(80, 119, 80);
    background-color: beige;
    border: 0 0 4px 0;
    border-color: rgb(80, 119, 80);
}
h2 {
    padding-top: 15px;
    text-decoration: underline;
    text-decoration-color: rgb(80, 119, 80);
}
#body {
    background-color: rgb(101, 155, 101);
}
#titel {
    background-color: beige;
    border: solid beige 5px;
}
.huc {
    float: left;
    width: 300px;
    height: auto;
    padding-top: 0;
}
p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 125%;
}
a {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 115%;

}
#end {
    height: 616px;
    width: 1200px;
    background-color: beige;
}

a {
    padding: 10px 15px;
}
#pic {
    width: 1109px;
    height: 602px;
}