h1 {
    font-size: 45px;
    font-weight: bolder;
    font-family: 'ZCOOL QingKe HuangYou';
    display: flex;
    justify-content: center;
}

.navi li {
    display: inline;
    padding: 16px 75px;
    background-color: rgb(121, 38, 38);
    color: white;
    font-family: 'ZCOOL QingKe HuangYou';
    margin: 12px;
    font-size: 26px;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    font-family: 'ZCOOL QingKe HuangYou';
    display: flex;
    justify-content: center;
    padding-top: 125px;
    text-decoration: none;
    color: black;
}

.uschrift {
    font-size: 26px;
    font-weight: bold;
    font-family: 'ZCOOL QingKe HuangYou';
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
}

#gf {
    width: auto;
    height: 80px;
}

.wie {
    font-size: 26px;
    font-weight: bold;
    font-family: 'ZCOOL QingKe HuangYou';
    display: flex;
    justify-content: center;
    text-align: center;
}

p {
    text-align: left;
    font-family: 'ZCOOL QingKe HuangYou';
    font-size: 19px;
}

#lee {
    float: right;
    margin: 50px 0 0 0;
}

.p {
    display: flex;
    justify-content: center;
    text-align: left;
    font-family: 'ZCOOL QingKe HuangYou';
    font-size: 19px;
}

nav {
    display: flex;
    justify-content: center;
}

.navi li:hover {
    color: rgb(35, 156, 71);
}

div :hover {
    color: rgb(35, 156, 71);
}

.p :hover {
    color: black;
}

.navi a {
    color: white;
}


.navi a:hover {
    color: rgb(35, 156, 71)
}

li :hover {
    color: rgb(35, 156, 71);
}

body {
    background: url(http://www.teamgraf.ch/view/2463p/42791/images/hintergrundBild2.jpg);
    background-size: 100%;
    margin: 0;
}

.gs:hover {
    color: rgb(35, 156, 71);
    font-size: 20px;
    text-decoration-color: black;
}

#ele {
    display: flex;
    justify-content: center;
    height: 300px;
    width: auto;
    margin: 20px 0;
}
div #bagger {
    text-align: left;
    
}

a {
    text-decoration: none;
    color: black;
}

.gs {
    text-decoration: underline;
    text-decoration-color: rgb(35, 156, 71);
}

.üs {
    font-size: 28px;
    font-weight: bold;
    color: rgb(35, 156, 71);
    display: flex;
    justify-content: center;
}

h3 {
    padding-top: 125px;
}

footer {
margin: 0;
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
    background: rgb(35, 156, 71);
}

main {
    padding-top: 125px;
}

ol li {
    padding: 0;
    background: transparent;
    font-size: 22px;
}

dt {
    font-size: 19px;
    text-decoration: underline;
    font-weight: bold;
}

dt, dd {
    margin: 9px;
}

@media (max-width: 1604px) {
    .navi li {
        display: block;
        padding: 16px;
        text-align: left;
    }
    h2, h3 {
        padding-top: 450px;
    }
    header {
        display: flex;
        flex-direction: column;
    }
    h1 {
        text-align: right;
    }
    main {
        padding-top: 275px;
    }
}